<launch>

    <param name="robot_description" command="cat $(find knowledge)/hardware/miztli.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group ns="hardware">
	<node name="mobile_base" pkg="mobile_base" type="hexa_base_node" output="screen">
	  <param name="port1" value="/dev/justinaRC30"/>
	  <param name="port2" value="/dev/justinaRC15"/>
	  <!--param name="port1" value="/dev/ttyACM0"/-->
	  <!--param name="port2" value="/dev/ttyACM1"/-->
	</node>

	<!--node name="urg_node" pkg="urg_node" type="urg_node"/-->

	<node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <!--param name="hostname" value="$(arg hostname)" /-->
        <!--param name="serial_port" type="string" value="/dev/hokuyo-UHG-08LX" /-->
        <param name="serial_port" type="string" value="/dev/justinaHokuyo_H1314094" />
        <!--param name="laserRangeFinderNumber" value="0" /-->
        <param name="frame_id" value="laser"/>
	</node>

	<node name="joy" pkg="joy" type="joy_node" output="screen"/>
	<!--node name="camera_node" pkg="camera" type="camera_node"/-->
    </group>


    <group ns="interoperation">
	<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_logitech.py" output="screen"/>
    </group>

</launch>



