<launch>

    <param name="robot_description" command="cat $(find knownledge)/hardware/miztli_modified.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group ns="hardware">
	<node name="mobile_base" pkg="mobile_base" type="hexa_base_node" output="screen">
	  <param name="port1" value="/dev/miztliRC30"/>
	  <param name="port2" value="/dev/miztliRC15"/>
	</node>

	<node name="urg_node" pkg="urg_node" type="urg_node"/>
	<node name="joy" pkg="joy" type="joy_node" output="screen"/>
	<!--node name="camera_node" pkg="camera" type="camera_node"/-->
    </group>


    <group ns="interoperation">
	<node name="joy_control" pkg="joy_control" type="joystick_logitech.py" output="screen"/>
    </group>

</launch>






