<launch>
	<remap from="/cmd_vel" to="/hardware/mobile_base/cmd_vel"/>
	
	<include file="$(find config_files)/launch/hexbase_navigation.launch">
    	<arg name="initial_pose_x" default="1.8"/>
		<arg name="initial_pose_y" default="-4.5"/>
		<arg name="initial_pose_a" default="0.0"/>
		<arg name="laser_scan_topic" default="/hardware/scan"/>
		<arg name="point_cloud_topic" default="/camera/depth_registered/points"/>
		<arg name="use_lidar" default="True"/>
		<arg name="use_sonars" default="False"/>
		<arg name="use_point_cloud" default="False"/>
		<arg name="cloud_downsampling" default="9"/>
		<arg name="lidar_downsampling" default="2"/>
		<arg name="cloud_points_threshold" default="100"/>
		<arg name="lidar_points_threshold" default="20"/>
		<arg name="cmd_vel_name" default="/hardware/mobile_base/cmd_vel"/>
		<arg name="min_x" default="0.3"/>
		<arg name="max_x" default="0.8"/>
		<arg name="min_y" default="-0.30"/>
		<arg name="max_y" default="0.30"/>
		<arg name="max_z" default="1.30"/>
		<arg name="min_z" default="0.05"/>
		<arg name="fine_dist_tolerance" default="0.08"/>
		<arg name="coarse_dist_tolerance" default="0.4"/>
		<arg name="angle_tolerance" default="0.05"/>
  	</include>


    <param name="robot_description" command="cat $(find knowledge)/hardware/miztli_modified.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group ns="hardware">
		<node name="mobile_base" pkg="mobile_base" type="hexa_base_node" output="screen">
		  <param name="port1" value="/dev/miztliRC30"/>
		  <param name="port2" value="/dev/miztliRC15"/>
		</node>

		<node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
		    <param name="serial_port" value="/dev/HokuyoUSB" />
		    <param name="frame_id" value="laser"/>
		</node>
        
		<node name="joy" pkg="joy" type="joy_node" output="screen"/>
    </group>


    <group ns="interoperation">
	<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_logitech.py" output="screen"/>
    </group>

</launch>






